In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests
import urllib.request as request
from urllib.parse import quote

from datetime import datetime
from datetime import timedelta
from time import time
from tqdm import tqdm
import pyodbc 
import openpyxl

refresh_token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlblR5cGUiOiJUSElSRFBBUlRZQVBJX1JlZnJlc2giLCJ0b2tlbmlkIjoiYzNlYTg1YmItOTczMS00N2M5LTg5ZmMtZTk3NmFjMDE5NTYwIiwid2ViQXBwIjoiVGhpcmRQYXJ0eUFwcCIsInZlcnNpb24iOiIyIiwiaWRlbnRpdHlUb2tlbiI6IkhiZ25SMzJiOVQwbUFpblpnMDdidVJIek1pTTJpWjkrbWtJSlZkK1pudEt2S1Eyck9yT1AwM3J2cldMRmUrWElEWGtBUjYvVnpaeUNqTE5vbDBQZWpKRzhJM0RRdm9QTmhlVWd3bGJKOERFMVMrQVZiODc1R2JMOVozK29kaklxSU1sWTFEUkFxdkxnTU1wM0tZb09IcnlzQUVTZ0FXbHJyNklIUkJIeEl3TVRHcElvNjQzdld6THJOMFM4WkZaZngwdk1qNC8vSENnYXBlclpzeUNSR2VLM3FjdVlMOGdmbzlyNWhsNjUxWTFxcEF0Qlh6MFRCNzNJZmJBTk5tZ2txZ1h1K0lqQnMwckN0TXdCeW5HaUJ1azVDVGtrV2VwTEZDckJSRkRCWFVIME0wYXlGTDhISWY3b255RXFtbnNqaXZnQkwvcFBIZUlWZTZ3MDhLNmN5QmYzR0JUNGdQb2NCT04yYjRkS0dxQmJyQnh2KzF1cWxmZmZzUlplTEFDNFhlU1BBOGRRcHdRSnA5YXMxdUozbndZcVJSWlFTM0IwTDM0L1N1VE9ScnRUZXF5NksybEFKSEUrZUp5RDZtYkEyUFRZZGp5SnlTdTdqS2ZvQkJ6ZE9WNVpkL2xiOWEwbHVOV2hQWGpua3pidERLeS96aCtKbzFYeE9nOHUwazF1UWR3endoQ3ZFanZMbkNSb0k2MVV5bTZ6V2VzcTdQOWoyMU5xZ2FuM2VnbVFXdTF5dHdKZHc5ekwvSjhqZ3JEd1NDZlRTR2NLcjgvalhSN1VtcEJqaEJvNTJFVk5QczIyRzg2d2lvUFNPMnhrTUpOVUdGZEYvcWozazAvdmFYRTMzaDVYcXlsNnZEODNyME8wcDJxcUh5bEtFZEVRMm5xQyt1N2YvZStuRVBhdTMwZ2pDTUFZZzdRdUsxREhuRnYrTmpmU0VKang5cy9zRWQraForSDBWcDlzUS9qd1hJNXY4SkU4UUI2VmdwbjJYbnRhV1lzNnhrRi9hZVR0d1AwYVZrZ0pGUkNHWEVpN1hnekY2RXFwYzc2bitLZUpPOHlxeG82SUJKM2dMOURNQkZLczhwYkViMmtTd1crN2pYejFLb0IxUEt1VVNpYkY0d09XWUNBK2R5OTI2eks0MXFSS1Qxd1ZPR2ZWNnYyd2t4RGJqdjdXVzc4UnZCYmVDU3dzTDY4ckNYclhUOFJuYjloMHZuVU5taXJ4aXZqYWpnak5aQTVNNHExQ0JwRVk5MjNvU3ZOdkNodFhLcHZqQnlITTg0bVptN2dwdk5wQkdnSm1zZ0oweVNOaHExNy8zczNMaFl6N25TcEljUXQ2Q04wYndCMDhQWENHempTenA4aUxmdXMvMHFmZnBEdjNCbXVEV2Z1cUROcTA4bmhhY0VyRCtaNjBscnc2cWlBSytSOTJIbmJpNnpqMFFJTUViSndlUFpCajVFRG1kY2todHBsaW9IQ0xrM2RxWW1qaHh0YTdhMlE5UlBlaWxXYkFud01hNWNVUlRnTThsNWhMSHJlcDBpSVIxVkgxakNDMWJpWE9WNWcrVndZL1V0TDZyNlI2N0V6MVVvd3p4b25OTzQzOWZMUVhYMVBaTm5qOFc1bDNjM0VJMDdyQWpJdk5jMTRtSy9aYmprempsVk1RV2V6SW9pWVRoYTVxKzZMY2lXK2JhUWV3SUNtL0xFTW83bk9BcDA0TCsvNWRYb2VsZGJRdzgxb2JyejBnU1J2eUFHbmltNjdZcUduNGxMcFJxK3R3VVRjWFVtSE5kSERDYittdm9RN2M5STRuNSszS3J5ekJsY3B2QlF6YytVL3I5dHduUXI1RkMrWTBBM29LbzlXMzNTVytUVzZLRmRZbjdSbWxUVUcrYlJ0RmJ4U20zWENlaGZ2RjRmMDNPa0JRKzN0SjIzeDdHMkRUYmxKQzNyVUFDQzVlR0pEajdMZWxxclNheVEwcmRMSEhyaDV6OHk4K0VKLzNsY2V5aUlOek1oQnk2VzNubjFaTTNOS0ZwRlk2T3BScFN5UDRtNktCU2lDT2xuUjhpMXZpcmdPNE1Cem0wd1NzNmNKOU42WEZVNlhzZk9XZFFVS2picEpsTDNGUU5iaUlFNXphY01rZXRiK1hkV0dpM3g3Um95WGFub0lZZVk0cm11c0JoTzdIQlVDUG81dVRHbzRJT05CWUlldWpFOUJxRUw3YUQzMjlOZXNiNFIxZlB4T3JENXhwbHMwQ3Q4dzlYbVFLTXdKK1Q3RzV4aTloL0JhWklSZkdDV2hkRXhaUkMvSVk3MENhYnhEN1UrWFJCRWRuQ2VKRFh0elphSkxVM1E9PSIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2dpdmVubmFtZSI6Ik1pa2tlbCBFcmlrIFJhc211cyBTY2htaWR0IiwibG9naW5UeXBlIjoiQ2VydGlmaWNhdGUiLCJjdnIiOiIzMzA3NzgzMSIsImNvbXBhbnkiOiJOUkdpIFLDpWRnaXZuaW5nIEEvUyIsInJpZCI6IkNWUjozMzA3NzgzMS1SSUQ6NjQ5MjkzMzEiLCJ1c2VySWQiOiI2OTg5MDEiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IkNWUjozMzA3NzgzMS1SSUQ6NjQ5MjkzMzEiLCJ0cGlkIjoiM0FCNjAyQUQtNzhCMS00RTAyLThFMTYtRTMyNjQyMDQwM0Q4IiwiZXhwIjoxNzM3MTk3MzI1LCJpc3MiOiJFbmVyZ2luZXQiLCJqdGkiOiJjM2VhODViYi05NzMxLTQ3YzktODlmYy1lOTc2YWMwMTk1NjAiLCJ0b2tlbk5hbWUiOiJNaWtrZWwiLCJyb2xlcyI6IlJlYWRQcml2YXRlLCBSZWFkQnVzaW5lc3MiLCJhdWQiOiJFbmVyZ2luZXQifQ.AkiBDKHHMSKRD7OMQYtPU0R7RD00dkUvX2S_b879fpA'

In [2]:
def get_token():
    refresh_token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlblR5cGUiOiJUSElSRFBBUlRZQVBJX1JlZnJlc2giLCJ0b2tlbmlkIjoiYzNlYTg1YmItOTczMS00N2M5LTg5ZmMtZTk3NmFjMDE5NTYwIiwid2ViQXBwIjoiVGhpcmRQYXJ0eUFwcCIsInZlcnNpb24iOiIyIiwiaWRlbnRpdHlUb2tlbiI6IkhiZ25SMzJiOVQwbUFpblpnMDdidVJIek1pTTJpWjkrbWtJSlZkK1pudEt2S1Eyck9yT1AwM3J2cldMRmUrWElEWGtBUjYvVnpaeUNqTE5vbDBQZWpKRzhJM0RRdm9QTmhlVWd3bGJKOERFMVMrQVZiODc1R2JMOVozK29kaklxSU1sWTFEUkFxdkxnTU1wM0tZb09IcnlzQUVTZ0FXbHJyNklIUkJIeEl3TVRHcElvNjQzdld6THJOMFM4WkZaZngwdk1qNC8vSENnYXBlclpzeUNSR2VLM3FjdVlMOGdmbzlyNWhsNjUxWTFxcEF0Qlh6MFRCNzNJZmJBTk5tZ2txZ1h1K0lqQnMwckN0TXdCeW5HaUJ1azVDVGtrV2VwTEZDckJSRkRCWFVIME0wYXlGTDhISWY3b255RXFtbnNqaXZnQkwvcFBIZUlWZTZ3MDhLNmN5QmYzR0JUNGdQb2NCT04yYjRkS0dxQmJyQnh2KzF1cWxmZmZzUlplTEFDNFhlU1BBOGRRcHdRSnA5YXMxdUozbndZcVJSWlFTM0IwTDM0L1N1VE9ScnRUZXF5NksybEFKSEUrZUp5RDZtYkEyUFRZZGp5SnlTdTdqS2ZvQkJ6ZE9WNVpkL2xiOWEwbHVOV2hQWGpua3pidERLeS96aCtKbzFYeE9nOHUwazF1UWR3endoQ3ZFanZMbkNSb0k2MVV5bTZ6V2VzcTdQOWoyMU5xZ2FuM2VnbVFXdTF5dHdKZHc5ekwvSjhqZ3JEd1NDZlRTR2NLcjgvalhSN1VtcEJqaEJvNTJFVk5QczIyRzg2d2lvUFNPMnhrTUpOVUdGZEYvcWozazAvdmFYRTMzaDVYcXlsNnZEODNyME8wcDJxcUh5bEtFZEVRMm5xQyt1N2YvZStuRVBhdTMwZ2pDTUFZZzdRdUsxREhuRnYrTmpmU0VKang5cy9zRWQraForSDBWcDlzUS9qd1hJNXY4SkU4UUI2VmdwbjJYbnRhV1lzNnhrRi9hZVR0d1AwYVZrZ0pGUkNHWEVpN1hnekY2RXFwYzc2bitLZUpPOHlxeG82SUJKM2dMOURNQkZLczhwYkViMmtTd1crN2pYejFLb0IxUEt1VVNpYkY0d09XWUNBK2R5OTI2eks0MXFSS1Qxd1ZPR2ZWNnYyd2t4RGJqdjdXVzc4UnZCYmVDU3dzTDY4ckNYclhUOFJuYjloMHZuVU5taXJ4aXZqYWpnak5aQTVNNHExQ0JwRVk5MjNvU3ZOdkNodFhLcHZqQnlITTg0bVptN2dwdk5wQkdnSm1zZ0oweVNOaHExNy8zczNMaFl6N25TcEljUXQ2Q04wYndCMDhQWENHempTenA4aUxmdXMvMHFmZnBEdjNCbXVEV2Z1cUROcTA4bmhhY0VyRCtaNjBscnc2cWlBSytSOTJIbmJpNnpqMFFJTUViSndlUFpCajVFRG1kY2todHBsaW9IQ0xrM2RxWW1qaHh0YTdhMlE5UlBlaWxXYkFud01hNWNVUlRnTThsNWhMSHJlcDBpSVIxVkgxakNDMWJpWE9WNWcrVndZL1V0TDZyNlI2N0V6MVVvd3p4b25OTzQzOWZMUVhYMVBaTm5qOFc1bDNjM0VJMDdyQWpJdk5jMTRtSy9aYmprempsVk1RV2V6SW9pWVRoYTVxKzZMY2lXK2JhUWV3SUNtL0xFTW83bk9BcDA0TCsvNWRYb2VsZGJRdzgxb2JyejBnU1J2eUFHbmltNjdZcUduNGxMcFJxK3R3VVRjWFVtSE5kSERDYittdm9RN2M5STRuNSszS3J5ekJsY3B2QlF6YytVL3I5dHduUXI1RkMrWTBBM29LbzlXMzNTVytUVzZLRmRZbjdSbWxUVUcrYlJ0RmJ4U20zWENlaGZ2RjRmMDNPa0JRKzN0SjIzeDdHMkRUYmxKQzNyVUFDQzVlR0pEajdMZWxxclNheVEwcmRMSEhyaDV6OHk4K0VKLzNsY2V5aUlOek1oQnk2VzNubjFaTTNOS0ZwRlk2T3BScFN5UDRtNktCU2lDT2xuUjhpMXZpcmdPNE1Cem0wd1NzNmNKOU42WEZVNlhzZk9XZFFVS2picEpsTDNGUU5iaUlFNXphY01rZXRiK1hkV0dpM3g3Um95WGFub0lZZVk0cm11c0JoTzdIQlVDUG81dVRHbzRJT05CWUlldWpFOUJxRUw3YUQzMjlOZXNiNFIxZlB4T3JENXhwbHMwQ3Q4dzlYbVFLTXdKK1Q3RzV4aTloL0JhWklSZkdDV2hkRXhaUkMvSVk3MENhYnhEN1UrWFJCRWRuQ2VKRFh0elphSkxVM1E9PSIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2dpdmVubmFtZSI6Ik1pa2tlbCBFcmlrIFJhc211cyBTY2htaWR0IiwibG9naW5UeXBlIjoiQ2VydGlmaWNhdGUiLCJjdnIiOiIzMzA3NzgzMSIsImNvbXBhbnkiOiJOUkdpIFLDpWRnaXZuaW5nIEEvUyIsInJpZCI6IkNWUjozMzA3NzgzMS1SSUQ6NjQ5MjkzMzEiLCJ1c2VySWQiOiI2OTg5MDEiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IkNWUjozMzA3NzgzMS1SSUQ6NjQ5MjkzMzEiLCJ0cGlkIjoiM0FCNjAyQUQtNzhCMS00RTAyLThFMTYtRTMyNjQyMDQwM0Q4IiwiZXhwIjoxNzM3MTk3MzI1LCJpc3MiOiJFbmVyZ2luZXQiLCJqdGkiOiJjM2VhODViYi05NzMxLTQ3YzktODlmYy1lOTc2YWMwMTk1NjAiLCJ0b2tlbk5hbWUiOiJNaWtrZWwiLCJyb2xlcyI6IlJlYWRQcml2YXRlLCBSZWFkQnVzaW5lc3MiLCJhdWQiOiJFbmVyZ2luZXQifQ.AkiBDKHHMSKRD7OMQYtPU0R7RD00dkUvX2S_b879fpA'    
    try:
        access_token
    except NameError:
        url = "https://api.eloverblik.dk/ThirdPartyApi" + '/api/Token'
        headers = {'Authorization': 'Bearer ' + refresh_token}
        token_response = requests.get(url, headers=headers, timeout=5)
        token_response.raise_for_status()
        token_json = token_response.json()
        access_token = token_json['result']
        timelog = datetime.now() - timedelta(days=1)
    else:
        time_between_insertion = datetime.now() - timelog
        if  time_between_insertion.days > 1:
            url = "https://api.eloverblik.dk/ThirdPartyApi" + '/api/Token'
            headers = {'Authorization': 'Bearer ' + refresh_token}
            token_response = requests.get(url, headers=headers, timeout=5)
            token_response.raise_for_status()
            token_json = token_response.json()
            access_token = token_json['result']
            
            timelog = datetime.now()
    return access_token

def test_datahub():
    url = 'https://api.eloverblik.dk/thirdpartyapi/api/isalive'
    response = requests.get(url)
    i = 0
    while response.status_code != 200:
        print('Datahub Down')
        time.sleep(60)
        i += 1
        if i > 10:
            print('Datahub Down for 10 min')
            break
    return 'Ok'

def eloverblik_IDs(CVR):
    access_token = get_token()
    url = 'https://api.eloverblik.dk/thirdpartyapi/api/authorization/authorization/meteringpointids/customerCVR/' + CVR

    headers = {'Authorization': 'Bearer ' + access_token,
        'Accept': 'application/json'}

    response = requests.get(url, headers=headers)
    return response.json()['result']

In [3]:
def eloverblik_timeseries(CVR, fromdate):
    access_token = get_token()
    test = test_datahub()
    if test != 'Ok':
        return print('Datahub down')
    meters = eloverblik_IDs(CVR)
    #meters = IDs
    df = pd.DataFrame(columns=['meter', 'amount',  'from', 'hour'])   
    url = 'https://api.eloverblik.dk/thirdpartyapi/api/meterdata/gettimeseries/' + fromdate + '/2023-10-31/Hour'
    headers = {'Authorization': 'Bearer ' + access_token,
    'Accept': 'application/json',
    'Content-Type': 'application/json'}
    for meter in tqdm(meters):
        body = """{{"meteringPoints": {{
            "meteringPoint": ["{0}"]
        }}
        }}""".format(str(meter))
        

        test = test_datahub()
        if test != 'Ok':
            continue

        response = requests.post(url, data=body, headers=headers)
        data = response.json()

        try:
            data['result'][0]['MyEnergyData_MarketDocument']['TimeSeries'][0]
        except:
            print('Error on ' + str(meter))
            continue
        
        time_series_data = data['result'][0]['MyEnergyData_MarketDocument']['TimeSeries'][0]

        # Extract the mRID.
        mrid = time_series_data['mRID']

        # Normalize the 'Point' data.
        df_meter = pd.json_normalize(
            time_series_data['Period'], 'Point',
            meta=[['timeInterval', 'start'],['timeInterval', 'end']],
            errors='ignore')
        
        df_meter['meter'] = mrid
        df_meter['To_date']= pd.to_datetime(df_meter['timeInterval.end']).dt.date
        df_meter['amount'] = pd.to_numeric(df_meter['out_Quantity.quantity'])
        df_meter['hour'] = pd.to_numeric(df_meter['position'])
        df_meter['from'] = pd.to_datetime(df_meter.To_date) + pd.to_timedelta(df_meter.hour-1, unit='h')
        df_meter = df_meter[['meter', 'amount',  'from', 'hour']]
        df = pd.concat([df, df_meter], ignore_index=True)
    return df

In [4]:
access_token = get_token()

cvr = '10373816'
meters = eloverblik_IDs(cvr)

In [5]:
print(meters)

['570715000000067600', '571313124411204126', '571313124411209022', '571313124411109438', '571313124411203433', '571313124411213937', '571313124411262447', '571313124411354463', '571313124450008488', '571313124490235394', '571313124490235417', '570715000000067600', '571313124411204126', '571313124411209022', '571313124411109438', '571313124411203433', '571313124411213937', '571313124411262447', '571313124411354463', '571313124450008488', '571313124490235394', '571313124490235417']

In [6]:
df = eloverblik_timeseries(cvr, '2023-01-01')

HTTPError: 429 Client Error: Too Many Requests for url: https://api.eloverblik.dk/ThirdPartyApi/api/Token

In [ ]:
df = df[df['from'].dt.year == 2023]
df.head()

                meter   amount                from hour
0  570715000000067600  15719.6 2023-01-01 00:00:00    1
1  570715000000067600  15692.9 2023-01-01 01:00:00    2
2  570715000000067600  15656.3 2023-01-01 02:00:00    3
3  570715000000067600  15712.6 2023-01-01 03:00:00    4
4  570715000000067600  15692.3 2023-01-01 04:00:00    5

Emissionsdata

In [ ]:
co2 = pd.read_csv('DeclarationEmissionHour.csv')
co2['HourDK'] = pd.to_datetime(co2['HourDK'])

In [ ]:
area = 'DK1' 
co2 = co2[co2['PriceArea']==area]

In [ ]:
co2.head(50)

                HourDK PriceArea FuelAllocationMethod   CO2PerkWh
0  2024-01-09 23:00:00       DK1                 125%  222.205719
2  2024-01-09 22:00:00       DK1                 125%  224.933170
4  2024-01-09 21:00:00       DK1                 125%  236.663688
6  2024-01-09 20:00:00       DK1                 125%  237.834003
8  2024-01-09 19:00:00       DK1                 125%  231.283602
10 2024-01-09 18:00:00       DK1                 125%  250.430063
12 2024-01-09 17:00:00       DK1                 125%  257.094636
14 2024-01-09 16:00:00       DK1                 125%  244.008840
16 2024-01-09 15:00:00       DK1                 125%  227.647415
18 2024-01-09 14:00:00       DK1                 125%  233.891582
20 2024-01-09 13:00:00       DK1                 125%  221.415164
22 2024-01-09 12:00:00       DK1                 125%  215.661382
24 2024-01-09 11:00:00       DK1                 125%  203.068765
26 2024-01-09 10:00:00       DK1                 125%  201.235412
28 2024-01-09 09:00:00       DK1                 125%  208.557712
30 2024-01-09 08:00:00       DK1                 125%  204.810044
32 2024-01-09 07:00:00       DK1                 125%  205.446626
34 2024-01-09 06:00:00       DK1                 125%  217.346257
36 2024-01-09 05:00:00       DK1                 125%  203.505239
38 2024-01-09 04:00:00       DK1                 125%  190.781414
40 2024-01-09 03:00:00       DK1                 125%  195.471974
42 2024-01-09 02:00:00       DK1                 125%  213.216609
44 2024-01-09 01:00:00       DK1                 125%  210.376011
46 2024-01-09 00:00:00       DK1                 125%  226.232407
48 2024-01-08 23:00:00       DK1                 125%  248.352448
50 2024-01-08 22:00:00       DK1                 125%  267.937372
52 2024-01-08 21:00:00       DK1                 125%  296.823298
54 2024-01-08 20:00:00       DK1                 125%  344.668445
56 2024-01-08 19:00:00       DK1                 125%  373.458304
58 2024-01-08 18:00:00       DK1                 125%  385.182122
60 2024-01-08 17:00:00       DK1                 125%  383.207679
62 2024-01-08 16:00:00       DK1                 125%  392.868299
64 2024-01-08 15:00:00       DK1                 125%  384.164299
66 2024-01-08 14:00:00       DK1                 125%  356.163036
68 2024-01-08 13:00:00       DK1                 125%  349.737831
70 2024-01-08 12:00:00       DK1                 125%  342.118893
72 2024-01-08 11:00:00       DK1                 125%  353.504888
74 2024-01-08 10:00:00       DK1                 125%  363.980401
76 2024-01-08 09:00:00       DK1                 125%  363.832100
78 2024-01-08 08:00:00       DK1                 125%  346.347911
80 2024-01-08 07:00:00       DK1                 125%  330.396530
82 2024-01-08 06:00:00       DK1                 125%  305.685615
84 2024-01-08 05:00:00       DK1                 125%  277.718836
86 2024-01-08 04:00:00       DK1                 125%  255.987709
88 2024-01-08 03:00:00       DK1                 125%  241.263032
90 2024-01-08 02:00:00       DK1                 125%  227.820946
92 2024-01-08 01:00:00       DK1                 125%  202.386201
94 2024-01-08 00:00:00       DK1                 125%  194.796276
96 2024-01-07 23:00:00       DK1                 125%  221.159767
98 2024-01-07 22:00:00       DK1                 125%  256.358880

In [ ]:
samlet = df.merge(co2, how='left', left_on='from', right_on='HourDK')

In [ ]:
samlet = samlet.rename(columns={'from':'datetime', 'amount': 'Mængde [kWh]'})
samlet.head()

,meter,Mængde [kWh],datetime,hour,HourDK,PriceArea,FuelAllocationMethod,CO2PerkWh,UdledningPrTime [kg]
0,570715000000067600,15719.6,2023-01-01 00:00:00,1,2023-01-01 00:00:00,DK1,125%,161.072008,2531.987537
1,570715000000067600,15692.9,2023-01-01 01:00:00,2,2023-01-01 01:00:00,DK1,125%,155.247527,2436.283916
2,570715000000067600,15656.3,2023-01-01 02:00:00,3,2023-01-01 02:00:00,DK1,125%,159.937804,2504.034241
3,570715000000067600,15712.6,2023-01-01 03:00:00,4,2023-01-01 03:00:00,DK1,125%,168.750709,2651.512390
4,570715000000067600,15692.3,2023-01-01 04:00:00,5,2023-01-01 04:00:00,DK1,125%,169.424968,2658.667425

In [ ]:
samlet['UdledningPrTime [kg]'] = samlet['Mængde [kWh]'] * (samlet['CO2PerkWh']/1000)

virksomhed = samlet.groupby('HourDK').mean('UdledningPrTime [kg]')

In [ ]:
virksomhed = samlet.groupby('datetime').agg({'Mængde [kWh]':'sum', 'CO2PerkWh':'mean', 'UdledningPrTime [kg]':'sum'}).reset_index()

In [ ]:
virksomhed.head()

             datetime  Mængde [kWh]   CO2PerkWh  UdledningPrTime [kg]
0 2023-01-01 00:00:00     52406.064  161.072008           8441.149960
1 2023-01-01 01:00:00     52535.310  155.247527           8155.976958
2 2023-01-01 02:00:00     52543.110  159.937804           8403.629629
3 2023-01-01 03:00:00     52349.416  168.750709           8834.001066
4 2023-01-01 04:00:00     52167.836  169.424968           8838.533945

In [ ]:
firma = 'Crossbridge'
samlet.to_excel('virksomhedsdata/' + firma + ' målerniveau.xlsx', index=False)
virksomhed.to_excel('virksomhedsdata/' + firma + ' hele firmaet.xlsx', index=False)